*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("https://c4.wallpaperflare.com/wallpaper/177/861/144/hunter-x-hunter-gon-css-wallpaper-preview.jpg");
    background-position: center;
    
    height: 100vh;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content span{
    color: #ff7200;
    font-size: 65px
}









